.todo-list {
  display: flex;
  justify-content: center;
}

.task-outer-container {
  border: 3px solid #ecebea;
  flex-basis: 70vw;
}

.title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ecebea;
}

.tasks-container-title {
  font-size: 18px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  user-select: none;
}

.form-container {
  /* padding: 15px 20px; */
  display: flex;
  align-items: center;
}

.reload-icon {
  padding: 20px;
  margin: 0px !important;
}

.task-form {
  border: none;
  font-size: 18px;
  color: #b0afaf;
  height: 100%;
  width: 100%;
  font-style: italic;
  padding: 15px 0px 15px 20px;
}

.task-inner-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ecebea;
  border-bottom: 1px solid #ecebea;
}

.check-box {
  width: 20px;
  height: 20px;
  margin: auto 20px;
  cursor: pointer;
}

.description {
  margin: 0;
  padding: 20px 0px;
  flex-grow: 1;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
}

.more-icon {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
  padding: 20px;
}

.clear-container {
  display: flex;
  padding: 15px 20px;
  background-color: #f6f6f6;
  justify-content: center;
}

.clear-text {
  margin: 0;
  color: #a9a9a9;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
